<!DOCTYPE html>
<html>
<head>
	<title>Divyam's Blog</title>
</head>
<body>
		<div> 
			<h1><a href="/">Divyam Pandey's Blog </a></h1>
		</div>
		<div>
			<p>published: 12/5/19, 1:05</p>
			<h2><a href="">How I Made My First Blog</a></h2>
			<p>The most important thing in life is to take one step.<br>
				To move forward so that atleast when you look back after sometime<br>
				you could realize that you leveled up in your life. NO Matter, how<br> small that growth is, no matter how small that achievement it<br>
				you have to work for it, you have to earn it
			</p>
		<div>
			<p>published: 12/5/19 1:10</p>
			<h2><a href="">The Science of Not Giving a S***</a></h2>
			<p> Many people belive in luck, ya i know that's true<br>
				Even if i remember myself, i used to be the opressor of luck
				and its related jargons. But at some point everyone realises that<br>
				they are at some point where it seems something just missed <br>
				or something just passed from the edge. But i also relized that <br>
				It also means when we needed to push ourselves a little bit further<br>we stopped. we just ignored very important thing, maybe it's because of your loved one's or because of your personal life. <br>
				But SOMETHING YOU MISSED.
			</p>
		
			
				{%for post in posts%}
			<div>
			 <p><h3> published date: {{post.published_date}}</p></h3>
			 <p> <h1><a href="">{{post.title}}</a></p></h1>
			 <p>{{post.text|linebreaksbr}}</p>
			</div>
			{%endfor%}
		

		</div>

</body>
</html>